{% extends 'custom_admin/index.html' %}
{% load static %}
{% block title %}Order List{% endblock title %}
{% block main-content %}


{% block content %}
{% endblock content %}

<div class="content-wrapper">
  <div class="container">
    {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
    {% endif %}

  </div>
  
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Order List</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'custom_admin:admin-home-view'%}">Home</a></li>
              <li class="breadcrumb-item active">Orders</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="container mt-2 mb-2">
          {% csrf_token %}
          <table class="display"
            data-toggle="table"
            data-pagination="true"
            data-search = "true"
            data-search-align="true"
            data-pagination-pre-text="Previous"
            data-pagination-next-text="Next"
            data-pagination-h-align="left"
            data-pagination-detail-h-align="right"
            data-page-list="[10,20,30,40,50]">
            <a href="" class ="add-btn" ><i class="fas fa-plus"></i>Add order</a>
            <a href="" class="del-btn" id="delete_btn">Delete</a>
            <thead>
              <tr>
                <th class="txt-color">Select</th>
                <th data-field = 'id' class="txt-color" data-sortable="true">ID</th>
                <th data-field = 'customer'class="txt-color"  data-sortable="true">Customer</th>
                <th data-field = 'status' class="txt-color" data-sortable="true">Status</th>
                <th data-field = 'payment_type' class="txt-color" data-sortable="true">Payment_Type</th>
                <th data-field = 'total' class="txt-color" data-sortable="true">Total</th>
                <th data-field = 'action' class="txt-color" >Action</th>
              </tr>
            </thead>
            <tbody>
              {% for order in orders%}
              <tr id="{{order.id}}">
                <td><input name = "order_id[]" type ="checkbox" value="{{order.id}}" id ="delete"></td>
                <td class="txt-color">{{order.id}}</td>
                <td class="txt">{{order.user}}</td>
                <td class="txt">{{order.status}}</td>
                <td class="txt">{{order.payment_gateway}}</td>
                <td class="txt">{{order.grand_total}}</td>
                <td class="txt-color"><a href="{% url 'product:order-detail-view' order.id%}" class="action-btn"><i class= " mx-4 fas fa-eye"></i></a></td>
              </tr>
              {%endfor%}
            </tbody>
            </table>
            
          </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock main-content %}