{% extends 'custom_admin/index.html' %}
{% load static %}
{% block title %}Product List{% endblock title %}
{% block main-content %}


{% block content %}
{% endblock content %}

<div class="content-wrapper">
  <div class="container">
    {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
    {% endif %}

  </div>
  
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Product List</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'custom_admin:admin-home-view'%}">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="container mt-2 mb-2">
          {% csrf_token %}
          <table class="display"
            data-toggle="table"
            data-pagination="true"
            data-search = "true"
            data-search-align="true"
            data-pagination-pre-text="Previous"
            data-pagination-next-text="Next"
            data-pagination-h-align="left"
            data-pagination-detail-h-align="right"
            data-page-list="[1]">
            <a href="{% url 'product:product-add-view' %}" class ="add-btn" ><i class="fas fa-plus"></i>Add Product</a>
            <a href="" class="del-btn" id="delete_btn">Delete</a>
            <thead>
              <tr>
                <th class="txt-color">Select</th>
                <th data-field = 'id' class="txt-color" data-sortable="true">ID</th>
                <th data-field = 'title'class="txt-color"  data-sortable="true">Title</th>
                <th data-field = 'price' class="txt-color" data-sortable="true">Price</th>
                <th data-field = 'quantity' class="txt-color" data-sortable="true">Quantity</th>
                <th data-field = 'action' class="txt-color" >Action</th>
              </tr>
            </thead>
            <tbody>
              {% for product in products%}
              <tr id="{{product.id}}">
                <td><input name = "product_id[]" type ="checkbox" value="{{product.id}}" id ="delete"></td>
                <td class="txt-color">{{product.id}}</td>
                <td class="txt">{{product.title}}</td>
                {%if product.check_if_special_price %}
                <td class="txt"><del>{{product.price}}</del><br>{{product.special_price}}</td>
                {%else%}
                <td class="txt">{{product.price}}</td>
                {%endif%}
                
                <td class="txt">{{product.quantity}}</td>
                <td class="txt-color"><a href="{% url 'product:product-update-view' product.id%}" class="action-btn"><i class= " mx-4 fas fa-edit"></i></a></td>
              </tr>
              {%endfor%}
            </tbody>
            </table>
            
          </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock main-content %}