{% extends 'store/index.html' %}
{% load static %}
{% block title %}Home{% endblock title %}


{% block banner_slider %}
<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="{{banner.first.image.id}}" class="active"></li>
                        {%for b in banner%}
                        <li data-target="#slider-carousel" data-slide-to="{{b.id}}"></li>
                        {%endfor%}

                    </ol>
                    
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>Free E-Commerce Template</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="{{banner.first.image.url}}" class="girl img-responsive" alt="{{b.image_name}}" />
                                <img src="{% static 'store/images/home/pricing.png'%}"  class="pricing" alt="" />
                            </div>
                        </div>
                        {%for b in banner%}
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>Free E-Commerce Template</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="{{b.image.url}}" class="girl img-responsive" alt="{{b.image_name}}" />
                                <img src="{% static 'store/images/home/pricing.png'%}"  class="pricing" alt="" />
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</section><!--/slider-->

{% endblock banner_slider %}


{% block side_bar_category %}
<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Category</h2>
        <div class="panel-group category-products" id="accordian"><!--category-productsr-->
            {% for category in categories%}
                {% if not category.children.all %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a href="{% url 'store:category-view' category.title%}">{{category}}</a></h4>
                    </div>
                </div>
                {%else%}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordian" href="#{{category}}">
                                <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                {{category}}
                            </a>
                        </h4>
                    </div>
                    <div id="{{category}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                {% for subcategory in category.children.all%}
                                {%if subcategory.active%}
                                <li><a href="{% url 'store:category-view' subcategory.title%}">{{subcategory}}</a></li>
                                {%else%}
                                {%endif%}
                                {%endfor%}
                            </ul>
                        </div>
                    </div>
                </div>
            {%endif%}
            {%endfor%}
            
        </div><!--/category-products-->
    
        <div class="brands_products"><!--brands_products-->
            <h2>Brands</h2>
            <div class="brands-name">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#"> <span class="pull-right">(50)</span>Acne</a></li>
                    <li><a href="#"> <span class="pull-right">(56)</span>Grüne Erde</a></li>
                    <li><a href="#"> <span class="pull-right">(27)</span>Albiro</a></li>
                    <li><a href="#"> <span class="pull-right">(32)</span>Ronhill</a></li>
                    <li><a href="#"> <span class="pull-right">(5)</span>Oddmolly</a></li>
                    <li><a href="#"> <span class="pull-right">(9)</span>Boudestijn</a></li>
                    <li><a href="#"> <span class="pull-right">(4)</span>Rösch creative culture</a></li>
                </ul>
            </div>
        </div><!--/brands_products-->
        
        <div class="price-range"><!--price-range-->
            <p>
                <label for="amount">Price range:</label>
                <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
              </p>
               
              <div id="slider-range"></div>
              <button type="button" id='price-range-btn' class="btn btn-primary">Filter</button>
        </div><!--/price-range-->
        
        <div class="shipping text-center"><!--shipping-->
            <img src="{% static 'store/images/home/shipping.jpg'%}" alt="" />
        </div><!--/shipping-->
    
    </div>
</div>
{%endblock side_bar_category%}

{% block main_content%}

<div class="col-sm-9 padding-right">
    <div class="features_items"><!--features_items-->
        <h2 class="title text-center">Features Items</h2>
        {%if featured_products%}

        {%for product in featured_products%}
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                        <div class="productinfo text-center">
                            {%if product.images_set.first%}
                            <img src="{{product.images_set.first.image.url}}" alt="{{product.title}}" />
                            {%else%}
                            <img src="{% static 'images/default-picture.png'%}" alt="default-picture" />
                            {%endif%}
                            {%if product.check_if_special_price%}
                            <h2>$ <del style="color: red;">{{product.price}}</del> {{product.special_price}}</h2>
                            {%else%}
                            <h2>US ${{product.price}}</h2>
                            {%endif%}
                            <p>{{product.title}}</p>
                            <a href="" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </div>
                        <div class="product-overlay">
                            <div class="overlay-content">
                                {%if product.check_if_special_price%}
                                <h2>$ <del style="color: red;">{{product.price}}</del> {{product.special_price}}</h2>
                                {%else%}
                                <h2>US ${{product.price}}</h2>
                                {%endif%}
                                <p>{{product.title}}</p>
                                <a href="{% url 'store:product-detail-view' product.id %}" class="btn btn-default add-to-cart"><i class="fa fa-eye"></i>View</a>
                            </div>
                        </div>
                </div>
                <div class="choose">
                    <ul class="nav nav-pills nav-justified">
                        
                        <li><a href="{% url 'store:wish-list-add-view' product.id %}"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                        
                        
                        <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {%endfor%}
        {%else%}
        <div class="col-sm-12">
            <h5 style="text-align: center;"> NO products to display!</h5>
        </div>
        {%endif%}
        
    </div><!--features_items-->
    
    <div class="category-tab"><!--category-tab-->
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                {%for category in featured_categories%}
                <li><a href="#{{category}}" data-toggle="tab">{{category}}</a></li>
                {%endfor%}
            </ul>
        </div>
        <div class="tab-content">
            {%for category in featured_categories%}
            <div class="tab-pane" id="{{category}}" >
                {%load custom_template%}
                {%if category|get_products_based_on_category%}
                {%for product in category|get_products_based_on_category%}
                <div class="col-sm-3">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                {%if product.product.images_set.first%}
                                <img src="{{product.product.images_set.first.image.url}}" alt="{{product.product.title}}" />
                                {%else%}
                                <img src="{% static 'images/default-picture.png'%}" alt="default-picture" />
                                {%endif%}
                                {%if product.product.check_if_special_price%}
                                <h2>$ <del style="color: red;">{{product.product.price}}</del> {{product.product.special_price}}</h2>
                                {%else%}
                                <h2>US ${{product.product.price}}</h2>
                                {%endif%}
                                <p>{{product.product.title}}</p>
                                <a href="{% url 'store:product-detail-view' product.product.id %}" class="btn btn-default add-to-cart"><i class="fa fa-eye"></i>View</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                {%endfor%}
                {%else%}
                <div class="col-sm-3">
                    <p>NO Product to Display!</p>
                </div>
                {%endif%}
            </div>
            {%endfor%}
        </div>    
    </div><!--/category-tab-->
    {% endblock main_content%}
    
    {% block recommended-items%}
   
    
    <div class="recommended_items"><!--recommended_items-->
        <h2 class="title text-center">recommended items</h2>
        
        <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">	
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{% static 'store/images/home/recommend1.jpg'%}" alt="" />
                                    <h2>$56</h2>
                                    <p>Easy Polo Black Edition</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{% static 'store/images/home/recommend2.jpg'%}" alt="" />
                                    <h2>$56</h2>
                                    <p>Easy Polo Black Edition</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{% static 'store/images/home/recommend3.jpg'%}" alt="" />
                                    <h2>$56</h2>
                                    <p>Easy Polo Black Edition</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">	
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{% static 'store/images/home/recommend1.jpg'%}" alt="" />
                                    <h2>$56</h2>
                                    <p>Easy Polo Black Edition</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{% static 'store/images/home/recommend2.jpg'%}" alt="" />
                                    <h2>$56</h2>
                                    <p>Easy Polo Black Edition</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{% static 'store/images/home/recommend3.jpg'%}" alt="" />
                                    <h2>$56</h2>
                                    <p>Easy Polo Black Edition</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
                </a>
                <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
                </a>			
        </div>
    </div><!--/recommended_items-->
    
</div>
{%endblock recommended-items%}



