{% extends 'store/index.html' %}
{% load static %}
{% block title %}Forgot Password{% endblock title %}
{% block main_content %}
<section id="form"><!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<div class="login-form"><!--login form-->
					<h2>Please Enter Your Email</h2>
					{% if form.errors and not form.non_field_errors %}
					<p class="alert alert-danger">
						{% if form.errors.items|length == 1 %}
						Please correct the error below.
						{%else%}
						Please correct the error below.
						{% endif %}
					</p>
					{% endif %}
					{% if form.non_field_errors %}
					{% for error in form.non_field_errors %}
						<p class="alert alert-danger">
							{{ error }}
						</p>
					{% endfor %}
					{% endif %}
					<form action="" method="post" >
						{%csrf_token%}
                        <label class="required" style="color:#FE980F">{{form.email.label}}</label>
						{{form.email}}
						{{form.email.errors}}
						<button type="submit" name='Submit' class="btn btn-default">Submit</button>
					</form>
				</div><!--/login form-->
			</div>
			</div>
		</div>
	</div>
</section><!--/form-->
{% endblock main_content %}
	
	