<p>Dear Administrator,</p>
<p>Please check below the details of the customer.</p>
<dl>
   <dd></dd>
   <table style="width: 56%; margin-right: calc(44%);">
      <tbody>
         <tr>
            <td style="width: 49.8176%;">
               <div style="text-align: center;">&nbsp;</div>
               <div style="text-align: left;">Username</div>
               <div data-empty="true" style="text-align: center;"><br></div>
            </td>
            <td style="width: 49.9999%;">
               <div style="text-align: left;">&nbsp;{{wishlist.user.username}}</div>
            </td>
         </tr>
         <tr>
            <td style="width: 49.8176%;">
               <div data-empty="true" style="text-align: center;"><br></div>
               <div style="text-align: left;">Email</div>
               <br>
            </td>
            <td style="width: 49.9999%;">&nbsp;{{wishlist.user.email}}</td>
         </tr>
      </tbody>
   </table>
</dl>
<p><br></p>
<table style="border: 1px solid gray; border-radius:2px;" cellpadding="5" cellspacing="0" style="margin-right: calc(6%); width: 80%;" width="800">
    <tbody>
       <tr>
          <td style="width: 149.502%;" valign="top" width="100%">
             <h3><strong>{{wishlist.user.username}} Wishlist: </strong></h3>
             <table style="border: 1px solid gray; border-radius:2px;" cellpadding="7" cellspacing="0" style="margin-right: calc(3%); width: 97%;" width="100%">
                <tbody>
                   <tr>
                      <td style="width: 6.0506%;" width="20%">
                         <p>Sr No</p>
                      </td>
                      <td style="width: 32.5976%;" width="20%">
                         <p>Product</p>
                      </td>
                      <td style="width: 26.4044%;" width="20%">
                         <p>Stock</p>
                      </td>
                   </tr>
                   {%for item in wishlist.wishitems.all%}
                   <tr>
                      <td style="width: 6.0506%;" width="20%">
                         <p>{{item.product.id}}</p>
                      </td>
                      <td style="width: 32.5976%;" width="20%">
                         <p>{{item.product.title}}</p>
                         
                      </td>
                      <td style="width: 26.4044%;" width="20%">
                         <p>{{item.product.quantity}}</p>
                         
                      </td>
                   </tr>
                   {%endfor%}
                </tbody>
            </table style="border: 1px solid gray; border-radius:2px;">
          </td>
       </tr>       
       <tr></tr>
    </tbody>
 </table>
 